html
head
body
h1=message



//- - for (var x = 0; x < 3; x++)
//-   li items[x].id


-
  var list = ["Uno", "Dos", "Tres",
          "Cuatro", "Cinco", "Seis"]
each item in items
  li=  item.name



  form(action="submit")